body {
    background: linear-gradient(45deg, white, lightblue);
    height: 35em;
}

li {
    list-style: none;
    display: inline;
    margin-right: 2%;
}

nav {
    border: 0.1cm solid blue;
    border-radius: 20%;
}